body .custom-navbar {
  width: 100%;
  background-color: #FFA500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: visible;
  box-sizing:initial;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

body .custom-navbar .songify-logo25 {
  color: white;
}

body .custom-navbar .nav-links {
  display: flex;
  align-items: center;
}

body .custom-navbar .nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
}

body .custom-navbar .nav-button:hover {
  text-decoration: underline;
}

body .custom-navbar .logout-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

body .custom-navbar .logout-button:hover {
  background-color: #c9302c;
}

body .content {
  margin-top: 0px; /* Adjust to ensure the fixed navbar does not overlap content */
  padding: 20px;
}